/* NAVIGATION MENU */

.nav {
	background-color: #efefef;
	padding: 0.5em 0.75em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px #aaaaaa;
	zoom: 1;
}

.nav ul {
	overflow: hidden;
	padding: 0.3em;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: inline block;
	padding: 5em 2em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav.secondary{
	color: #666666;
	display: inline block;
	padding: 1.5em 1em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}


.nav a:active, .nav a:visited {
	color: #666666;
}

.nav.secondary a:active{
		padding: 1em 1em;
}


.nav.secondary a:focus, .nav.secondary a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	padding: 1em 1em;
	height: 4px;
}

.nav a:focus, .nav a:hover {
	background-color: #999999;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}


.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: left;
	background-repeat: no-repeat;
	text-indent: 30px;
}

.nav a.home {
	background-image: url(../../../images/skin/house.png);
}

.nav a.list {
	background-image: url(../../../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../../../images/skin/database_add.png);
}
