<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title>
</head>

<body>
<div>
    <h2>Printer Info</h2>
    <%=allServicesList%>

    <g:link action="print" params="[doc:'morning-list.pdf']">print</g:link>

</div>
</body>
