<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
		<title>Welcome to Grails</title>
	</head>
	<body>
		<div id="page-body" role="main">
			   <p><g:link controller="specimen" action="specimensProcuredToday">Today's Procurement</g:link></p>
		</div>
	</body>
</html>
