/* Created by Artisteer v4.0.0.58475 */

#art-main
{
  background: #E7E8E9 url('images/pageglare.png') top center no-repeat fixed;
   background: url('images/pageglare.png') top center no-repeat, linear-gradient(top, #D5D5D7 0, #D5D5D7 420px, #AEAEB2 1050px) no-repeat;
   background: url('images/pageglare.png') top center no-repeat, -webkit-linear-gradient(top, #D5D5D7 0, #D5D5D7 420px, #AEAEB2 1050px) no-repeat;
   background: url('images/pageglare.png') top center no-repeat, -moz-linear-gradient(top, #D5D5D7 0, #D5D5D7 420px, #AEAEB2 1050px) no-repeat;
   background: url('images/pageglare.png') top center no-repeat, -o-linear-gradient(top, #D5D5D7 0, #D5D5D7 420px, #AEAEB2 1050px) no-repeat;
   background: url('images/pageglare.png') top center no-repeat, -ms-linear-gradient(top, #D5D5D7 0, #D5D5D7 420px, #AEAEB2 1050px) no-repeat;
   background: url('images/pageglare.png') top center no-repeat, linear-gradient(top, #D5D5D7 0, #D5D5D7 420px, #AEAEB2 1050px) no-repeat;
   -svg-background: url('images/pageglare.png') top center no-repeat, linear-gradient(top, #D5D5D7 0, #D5D5D7 420px, #AEAEB2 1050px) no-repeat;
   background-attachment: fixed !important;
   margin:0 auto;
   font-size: 11px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.art-hmenu
{
   font-size: 10px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   border:0px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

.title
{
   position: relative;
   width: 100%;
   color:white;
   font-size:xx-large;
   z-index: 5;
   display: block;
   float: left;
   background-color: rgb(105, 5, 5);
   padding-left: 50px;
   padding-top:10px;
   padding-bottom:10px;
   border: 0;
}

/*
Set div for login user
*/

#login-user{
   position: relative;
   color:rgb(105, 5, 5);
   font-size:x-small;
   width: 100 %;
   z-index: 5;
   padding-right: 20px;
   padding-top: 10px;
   float: right;
   border: 0;
}


/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.art-button
{
   border: 0;
   border-collapse: separate;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #A0A1A6;
   background: linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   background: -webkit-linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   background: -moz-linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   background: -o-linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   background: -ms-linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   background: linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   -svg-background: linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   -webkit-border-radius:9px;
   -moz-border-radius:9px;
   border-radius:9px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   padding:0 26px;
   margin:0 auto;
   height:35px;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent,
ul.art-vmenu a 
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-size: 13px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.art-postcontent p
{
   margin: 12px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover,
.art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-size: 18px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-align: left;
}

.art-postcontent a, .art-postcontent a:link
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #09C1E1;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #80A1B7;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #09B4D3;
}

.art-postcontent h1
{
   color: #78ABBF;
   margin-top: 12px;
   margin-bottom: 12px;
   font-size: 18px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-blockcontent h1
{
   margin-top: 12px;
   margin-bottom: 12px;
   font-size: 18px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-size: 18px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h2
{
   color: #78ABBF;
   margin-top: 13px;
   margin-bottom: 13px;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: left;
}

.art-blockcontent h2
{
   margin-top: 13px;
   margin-bottom: 13px;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: left;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: left;
}

.art-postcontent h3
{
   color: #A4BCCC;
   margin: 16px 0;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-blockcontent h3
{
   margin: 16px 0;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-align: left;
}

.art-postcontent h4
{
   color: #09B4D3;
   margin: 14px 0;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-transform: uppercase;
   text-align: left;
}

.art-blockcontent h4
{
   margin: 14px 0;
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-transform: uppercase;
   text-align: left;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 14px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-transform: uppercase;
   text-align: left;
}

.art-postcontent h5
{
   color: #1D2B34;
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 12px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: left;
}

.art-blockcontent h5
{
   margin-top: 20px;
   margin-bottom: 20px;
   font-size: 12px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: left;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 12px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: left;
}

.art-postcontent h6
{
   color: #46667C;
   margin-top: 25px;
   margin-bottom: 25px;
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: left;
}

.art-blockcontent h6
{
   margin-top: 25px;
   margin-bottom: 25px;
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: left;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 11px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-align: left;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

body
{
   padding: 0;
   margin:0;
   min-width: 900px;
   color: rgb(72, 74, 75)
}

.clearfix:before, .clearfix:after {
   content: "";
   display: table;
}

.clearfix:after {
   clear: both;
}

.cleared {
   font: 0/0 serif;
   clear: both;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent li p 
{
   margin:1px;
}


.art-shapes
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   overflow: hidden;
   z-index: 0;
}

.art-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.art-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.art-slidenavigator > a:last-child {
   margin-right: 0 !important;
}





.art-footer .layout-item-0 { padding: 10px;  }
.ie7 .post .layout-cell {border:none !important; padding:0 !important; }
.ie6 .post .layout-cell {border:none !important; padding:0 !important; }

.art-nav
{
   background: #63170D;
   background: linear-gradient(top, #952213 0, #320B06 100%) no-repeat;
   background: -webkit-linear-gradient(top, #952213 0, #320B06 100%) no-repeat;
   background: -moz-linear-gradient(top, #952213 0, #320B06 100%) no-repeat;
   background: -o-linear-gradient(top, #952213 0, #320B06 100%) no-repeat;
   background: -ms-linear-gradient(top, #952213 0, #320B06 100%) no-repeat;
   background: linear-gradient(top, #952213 0, #320B06 100%) no-repeat;
   -svg-background: linear-gradient(top, #952213 0, #320B06 100%) no-repeat;
   padding:6px 4px;
   margin:0 auto;
   position: relative;
   z-index: 100;
   font-size: 0;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.art-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.art-hmenu, ul.art-hmenu ul 
{
   min-height: 0;
}

ul.art-hmenu 
{
   display: inline-block;
   vertical-align: middle;
   padding-left: 4px;
   padding-right: 4px;
}

.art-nav-inner:before 
{
   content:' ';
}

.art-nav-inner{
   text-align:center;
   margin:0 auto;
}

ul.art-nav-inner, ul.art-nav-inner
{
display: block;
margin: 10px;
padding: 10px;
border: 0;
height:80px;
list-style-type: none;
background-color: rgb(105, 5, 5);
}

ul.art-nav-inner a {
	color: white;
	display: inline block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

ul.art-nav-inner a:active, ul.art-nav-inner a:visited {
	color:yellow;
}

ul.art-nav-inner li
{
   position: relative;
   z-index: 5;
   display: block;
   float: right;
   background: none;
   margin-top:20px;
   padding: 0;
   padding-top:50px;
   border: 0;
}

.desktop-nav .art-nav-inner{
   width: 900px;
   padding-left: 4px;
   padding-right: 4px;
}

.desktop-nav.art-nav
{
   padding-left: 0;
   padding-right: 0;
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.art-hmenu
{
   float: left;
}

.art-menuitemcontainer
{
   margin:0 auto;
}
ul.art-hmenu>li {
   margin-left: 7px;
}
ul.art-hmenu>li:first-child {
   margin-left: 3px;
}
ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child {
   margin-right: 3px;
}

ul.art-hmenu>li>a
{
   background: #FFFFFF;
   background: linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(187, 224, 231, 0.3) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(187, 224, 231, 0.3) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(187, 224, 231, 0.3) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(187, 224, 231, 0.3) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(187, 224, 231, 0.3) 100%) no-repeat;
   background: linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(187, 224, 231, 0.3) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(187, 224, 231, 0.3) 100%) no-repeat;
   -webkit-border-radius:9px;
   -moz-border-radius:9px;
   border-radius:9px;
   border:1px solid rgba(39, 57, 69, 0.3);
   padding:0 29px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 44px;
   cursor: pointer;
   text-decoration: none;
   color: #F2F5F8;
   line-height: 44px;
   text-align: center;
}

.art-hmenu a, 
.art-hmenu a:link, 
.art-hmenu a:visited, 
.art-hmenu a.active, 
.art-hmenu a:hover
{
   font-size: 16px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-align: left;
}

ul.art-hmenu>li>a.active
{
   background: #A0A1A6;
   background: linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   background: -webkit-linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   background: -moz-linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   background: -o-linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   background: -ms-linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   background: linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   -svg-background: linear-gradient(top, #B5B6BA 0, #8E8F95 100%) no-repeat;
   -webkit-border-radius:9px;
   -moz-border-radius:9px;
   border-radius:9px;
   border:1px solid #537993;
   padding:0 29px;
   margin:0 auto;
   color: #FFFFFF;
   text-decoration: none;
}

ul.art-hmenu>li>a:visited, 
ul.art-hmenu>li>a:hover, 
ul.art-hmenu>li:hover>a {
   text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
   background: #FFFFFF;
   background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(187, 224, 231, 0.6) 100%) no-repeat;
   background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(187, 224, 231, 0.6) 100%) no-repeat;
   background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(187, 224, 231, 0.6) 100%) no-repeat;
   background: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(187, 224, 231, 0.6) 100%) no-repeat;
   background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(187, 224, 231, 0.6) 100%) no-repeat;
   background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(187, 224, 231, 0.6) 100%) no-repeat;
   -svg-background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(187, 224, 231, 0.6) 100%) no-repeat;
   -webkit-border-radius:9px;
   -moz-border-radius:9px;
   border-radius:9px;
   border:1px solid rgba(115, 151, 176, 0.6);
   padding:0 29px;
   margin:0 auto;
}
ul.art-hmenu>li>a:hover, 
.desktop-nav ul.art-hmenu>li:hover>a {
   color: #2A4D5A;
   text-decoration: none;
}

ul.art-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -7px;
   width:7px;
   height: 44px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.art-hmenu>li:first-child:before{
   display:none;
}

ul.art-hmenu li li a
{
   background: #EAF2F5;
   border:1px solid #B6D2DD;
   padding:0 12px;
   margin:0 auto;
}
ul.art-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 27px;
   min-width: 7em;
   border: 1px solid transparent;
   text-align: left;
   line-height: 27px;
   color: #24414C;
   font-size: 11px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.art-hmenu li li a 
{
   border-top-width: 0 !important;
}
.art-hmenu li li:hover a 
{
   border-top-width: 1px !important;
}
.art-hmenu ul>li:first-child>a 
{
   border-top-width: 1px !important;
}

.art-hmenu ul a:link, 
.art-hmenu ul a:visited, 
.art-hmenu ul a.active, 
.art-hmenu ul a:hover
{
   text-align: left;
   line-height: 27px;
   color: #24414C;
   font-size: 11px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
   background: #B6D2DD;
  
   margin:0 auto;
}

.art-hmenu ul li a:hover
{
   color: #000000;
}

.art-hmenu ul li a.art-hmenu-before-hovered 
{
   border-bottom-width: 0 !important;
}

.desktop-nav .art-hmenu ul li:hover>a
{
   color: #000000;
}

ul.art-hmenu ul:before
{
   background: #537993;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop-nav ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop-nav ul.art-hmenu>li>ul
{
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

.desktop-nav ul.art-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop-nav ul.art-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop-nav ul.art-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop-nav ul.art-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop-nav ul.art-hmenu>li>ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu>li>ul.art-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.art-sheet
{
   background: #FFFFFF;
   -webkit-border-radius:10px;
   -moz-border-radius:10px;
   border-radius:10px;
   -webkit-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   box-shadow:0 0 3px 2px rgba(0, 0, 0, 0.15);
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 90%;
   z-index: auto !important;
}

.art-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.art-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-content-layout-row 
{
   display: table-row;
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

.art-block
{
   margin:7px;
}
div.art-block img
{
   border: 1px solid #9AB4C6;
   margin: 10px;
}

.art-blockheader
{
   background: #09C1E1;
   background: linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -webkit-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -moz-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -o-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -ms-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   -svg-background: linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   padding:12px 7px;
   margin:0 auto 7px;
}
.art-blockheader .t,
.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #CBDFE7;
   font-size: 12px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   margin-left: 10px;
   margin-right: 10px;
}

.art-blockheader .t:before
{
   content:url('images/blockheadericon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-blockheader .t:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-blockcontent
{
   padding:7px;
   margin:0 auto;
   color: #1D2B34;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}
.art-blockcontent table,
.art-blockcontent li, 
.art-blockcontent a,
.art-blockcontent a:link,
.art-blockcontent a:visited,
.art-blockcontent a:hover
{
   color: #1D2B34;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent p
{
   margin: 6px 0;
}

.art-blockcontent a, .art-blockcontent a:link
{
   color: #09C1E1;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
   color: #A4BCCC;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
   color: #09C1E1;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}
.art-block li
{
   font-size: 11px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 125%;
   color: #4B6E86;
}

.art-breadcrumbs
{
   margin:0 auto;
}

a.art-button,
a.art-button:link,
a:link.art-button:link,
body a.art-button:link,
a.art-button:visited,
body a.art-button:visited,
input.art-button,
button.art-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #000000;
   margin: 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 35px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.art-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .art-button
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

.art-block select 
{
   width:96%;
}

input.art-button
{
   float: none !important;
}

.art-button.active, .art-button.active:hover
{
   background: #09C1E1;
   background: linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -webkit-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -moz-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -o-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -ms-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   -svg-background: linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   -webkit-border-radius:9px;
   -moz-border-radius:9px;
   border-radius:9px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   padding:0 26px;
   margin:0 auto;
}
.art-button.active, .art-button.active:hover {
   color: #04090C !important;
}

.art-button.hover, .art-button:hover
{
   background: #09C1E1;
   background: linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -webkit-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -moz-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -o-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: -ms-linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   background: linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   -svg-background: linear-gradient(top, #19D4F5 0, #0AD2F5 21%, #08A3BF 100%) no-repeat;
   -webkit-border-radius:9px;
   -moz-border-radius:9px;
   border-radius:9px;
   -webkit-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   -moz-box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   box-shadow:1px 1px 2px 1px rgba(0, 0, 0, 0.15);
   padding:0 26px;
   margin:0 auto;
}
.art-button.hover, .art-button:hover {
   color: #FCFDFD !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   background: #F9FAFB;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
   width: 40%;
   padding: 4px 0;
   color: #1D4A5D !important;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
input.art-error, textarea.art-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.art-error, textarea.art-error {
   color: #1D4A5D !important;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.art-search input[type="text"]
{
   background: #F9FAFB;
   border-radius: 0;
   margin:0 auto;
   width: 100%;
   padding: 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #1D4A5D !important;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

form
{
   background-image: none;
   border: 0;
}
form.art-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.art-search input
{
   top:0;
   right:0;
}

form.art-search>input {
   bottom:0;
   left:0;
   vertical-align: middle;
}
 
form.art-search input[type="submit"]
{
   background: #9AB4C6;
   margin:0 auto;
   color: #334B5B !important;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position:absolute;
   display:block;
   left: auto;
   border: 0;
   top: 0;
   bottom: 0;
   right: 	0;
}

label.art-checkbox:before
{
   background: #F9FAFB;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
}
label.art-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
}

.art-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
   background: #B6D2DD;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-checkbox.hovered:before
{
   background: #EAF2F5;
   -webkit-border-radius:1px;
   -moz-border-radius:1px;
   border-radius:1px;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.art-radiobutton:before
{
   background: #F9FAFB;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
}
label.art-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 12px;
   display: inline-block;
}

.art-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
   background: #B6D2DD;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

label.art-radiobutton.hovered:before
{
   background: #EAF2F5;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
   border-radius:3px;
   margin:0 auto;
   width:12px;
   height:12px;
   display: inline-block;
}

.art-post
{
   padding:10px;
}
a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
   margin: 0 0 0 0;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th, .art-article td
{
   padding: 2px;
   border: solid 1px #A0A1A6;
   vertical-align: top;
   text-align: left;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 0 0 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.art-postmetadataheader
{
   background: #EAF2F5;
   background: rgba(234, 242, 245, 0.1);
   margin:0 auto;
   position:relative;
   z-index:1;
   padding: 1px;
   margin-bottom: 5px;
}

.art-postheader
{
   color: #274753;
   margin: 0 0 0 10px;
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 16px;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}

.art-postheader a, .art-postheader a:link
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #488299;
}

.art-postheader a:visited, .art-postheader a.visited
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   text-align: left;
   color: #6990AB;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   text-align: left;
   color: #09C1E1;
}

.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   color: #3D596C;
}

.art-postheadericons
{
   display:inline-block;
   padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: underline;
   color: #396779;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #405E72;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #4B88A0;
}

.art-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postemailicon:before
{
   content:url('images/postemailicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .art-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 1px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   font-size: 11px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 200%;
   color: #0D181C;
   margin: 0 0 0 2px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
   padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   padding-left: 12px;
}

.art-postcontent ul>li:before,  .art-post ul>li:before,  .art-textblock ul>li:before
{
   margin-left: -12px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
   margin: 1em 0 1em 2px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
   margin: 0.5em 0 0.5em 2px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
   margin: 0 0 0 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #CBD8E2 url('images/postquote.png') no-repeat scroll;
   border:1px solid #9AB4C6;
   padding:6px 6px 6px 34px;
   margin:10px 10px 10px 50px;
   color: #0B1014;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
   color: #0B1014;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p
{
   margin: 0;
   margin: 5px 10px 10px;
}

.art-postmetadatafooter
{
   background: #EAF2F5;
   background: rgba(234, 242, 245, 0.1);
   margin:0 auto;
   position:relative;
   z-index:1;
   padding: 1px;
}

.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   color: #3B5668;
}

.art-postfootericons
{
   display:inline-block;
   padding: 1px;
}

.art-postfootericons a, .art-postfootericons a:link
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: underline;
   color: #376476;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
   color: #3E5C6F;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
   color: #4B88A0;
}

.art-footer
{
   background: #63170D;
   margin:10px auto 0;
   position: relative;
   color: #FFFFFF;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   letter-spacing: 1px;
   text-align: left;
   padding: 0;
}

.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover,
.art-footer td, 
.art-footer th,
.art-footer caption
{
   color: #FFFFFF;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   letter-spacing: 1px;
}

.art-footer p 
{
   padding:0;
   text-align: left;
}

.art-footer a,
.art-footer a:link
{
   color: #09C1E1;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer a:visited
{
   color: #9DB7C8;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: underline;
}

.art-footer a:hover
{
   color: #09C1E1;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   text-decoration: none;
}

.art-footer img
{
   border: none;
   margin: 10px;
}

.art-footer-inner
{
   margin: 0 auto;
   width:900px;
   padding:10px;
   padding-right: 10px;
   padding-left: 10px;
}

.art-footer li
{
   font-size: 13px;
   font-family: Tahoma, Arial, Helvetica, Sans-Serif;
   line-height: 125%;
   color: #D4E9F2;
}

.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #09B4D3;
}

.art-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #B7CAD7;
}

img.art-lightbox
{
   cursor: pointer;
}

#art-lightbox-bg *
{
   padding: 0;
   margin: 0;
}

div#art-lightbox-bg
{
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   height: 100%;
   background-color: #000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 9999;
}

img.art-lightbox-image
{
   -webkit-transition: opacity 350ms ease-in-out;
   -moz-transition: opacity 350ms ease-in-out;
   -o-transition: opacity 350ms ease-in-out;
   -ms-transition: opacity 350ms ease-in-out;
   transition: opacity 350ms ease-in-out;
   cursor: pointer;
   z-index: 10000;
   position: fixed;
   border: 6px solid #fff;
   border-radius: 3px;
   opacity: 0;
   filter: alpha(opacity=0);
}

img.art-lightbox-image.active
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.lightbox-error
{
   position: fixed;
   background: #fff;
   z-index: 100;
   opacity: 0.95;
   padding: 20px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   width: 300px;
   height: 80px;
}

.loading
{
   position: fixed;
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   width: 32px;
   height: 32px;
   z-index: 10100;
   opacity: 0.5;
   padding: 10px;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
}

.arrow
{
   height: 100px;
   width: 82px;
   z-index: 10003;
   position: fixed;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.arrow.left
{
   left: 9px;
}
.arrow.right
{
   right: 9px;
}

.arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.arrow.disabled 
{
   display: none;
}

.arrow-t, .arrow-b
{
   height: 6px;
   width: 30px;
   left: 26px;
   background-color: #fff;
   position: relative;
   border-radius: 3px;
}

.arrow-t
{
   top: 38px;
}

.arrow-b
{
   top: 50px;
}

.close
{
   width: 22px;
   height: 22px;
   position: fixed;
   top: 30px;
   right: 39px;
   cursor: pointer;
   opacity: 0.5;
   filter: alpha(opacity=50);
}

.close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
   position: absolute;
   top: 8px;
   left: -4px;
   width: 30px;
   height: 6px;
   background-color: #fff;
   border-radius: 3px;
}

.cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.close-alt, .arrow-right-alt, .arrow-left-alt 
{
   display: none;
   color: #fff;
   font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt {
   display: block;
}
.ie8 .cw, .ie8 .ccw {
   display: none;
}

.art-content-layout .art-content
{
   margin:0 auto;
}

/* Begin Additional CSS Styles */
.art-blockheader .t, .art-vmenublockheader .t {white-space: nowrap;}
/* End Additional CSS Styles */
