
<%@ page import="hbis.QcBatch" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'qcBatch.label', default: 'QcBatch')}" />
		<title><g:message code="default.list.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#list-qcBatch" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>

		<div id="list-qcBatch" class="content scaffold-list" role="main">
			<h1><g:message code="default.list.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<table>
				<thead>
					<tr>
					
						<g:sortableColumn property="id" title="${message(code: 'qcBatch.id.label', default: 'Batch ID')}" />
					
						<g:sortableColumn property="status" title="${message(code: 'qcBatch.status.label', default: 'Status')}" />
					
						<g:sortableColumn property="dateComplete" title="${message(code: 'qcBatch.dateComplete.label', default: 'Date Complete')}" />
					
						<g:sortableColumn property="dateCreated" title="${message(code: 'qcBatch.dateCreated.label', default: 'Date Created')}" />
					
					</tr>
				</thead>
				<tbody>
				<g:each in="${qcBatchInstanceList}" status="i" var="qcBatchInstance">
					<tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
					
						<td><g:link action="show" id="${qcBatchInstance.id}">${fieldValue(bean: qcBatchInstance, field: "id")}</g:link></td>
					
						<td>${fieldValue(bean: qcBatchInstance, field: "status")}</td>
					
						<td><g:formatDate date="${qcBatchInstance.dateComplete}" /></td>
					
						<td><g:formatDate date="${qcBatchInstance.dateCreated}" /></td>
					
					</tr>
				</g:each>
				</tbody>
			</table>
			<div class="pagination">
				<g:paginate total="${qcBatchInstanceTotal}" />
			</div>
		</div>
	</body>
</html>
